# Final Project Submission: Student Academic Sucess Classification Model Analysis
__(Phase 3)__

* Student Name: Tenicka Norwood
* Program Pace: self paced
* Scheduled Project Review Time: 
* Instructor name: Morgan Jones
* Blog post Url: https://medium.com/@tenicka.norwood/the-meaning-of-life-the-universe-and-everything-9423dcb79c06

## Business Understanding

Colleges and Universities face the ever pressing challgence of identifying students who are at risk of not graduating on time and providing effective interventions to move those students back onto a positive pathway to graduation. 
> The completion rates of (US) undergraduates within six years of enrollment stand at only __62.3%__ as of 2022.
>
> -- Hanneh Bareham and Chelsea Wing (bankrate.com)
>
> 
>

Carnevale et. al. (2021) Georgetown University in their study highlighted the substantial disparity in lifetime earnings based on educational attainment. In particular, the gist of this study showed that an average person with only a high school diploma or GED will earn an estimated  __1.6  million dollars__ in their lifetime, compared to a person with a bachelor's degree who potentially can earn ~__2.8 million dollars__ in their lifetime. This profound disparity in earning potential underscores the transformative power of higher education and highlights the significance of timely graduation in enhancing students' long-term financial security.

## Data Understanding

The University of California (Irvine) hosts a machine learning repository with datasets that can be evaluated using machine learning techniques. The dataset used in this exploration can be found [here](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success). This datset was created as a part of a project to reduce academic dropout and failure rates in higher edcuation by leveraging machine learning to identify at risk students early within their academic careers and provide them support to improve their likelihood of on time graduation.  

The data includes information that is known from the time a student enrolls including their:
- academic path
- demographics
- social-economic factors

There are three classifications of students within this dataset:
- dropout
- enrolled
- graduate

The data was preprocessed to address missing values and anomalies.

### Features

|Name | Role | Type| Data Type   |Description | 
|-------|---------|----- |------------- |----------|
|Martial Status| Feature| Discrete|int|1 &mdash; single 2 &mdash; married 3 &mdash; widowed 4 &mdash; divorced 5 &mdash; facto union  6 &mdash; legally separated| 
|Application mode|Feature|Discrete|int |1 &ndash; 1st phase &ndash; general contingent 2 &ndash;Ordinance No. 612/93 5 &ndash; 1st phase &ndash; special contingent (Azores Island) 7&ndash; Holders of other higher courses 10 &ndash; Ordinance No. 854-B/99 15 &ndash;International student (bachelor) 16 &ndash; 1st phase &ndash; special contingent (Madeira Island) 17 &ndash; 2nd phase &ndash; general contingent 18 &ndash; 3rd phase &ndash; general contingent 26 &ndash; Ordinance No. 533-A/99, item b2) (Different Plan) 27 - Ordinance No. 533-A/99, item b3 (Other Institution) 39 &ndash; Over 23 years old 42 &ndash; Transfer 43 &ndash; Change of course 44 &ndash; Technological specialization diploma holders 51 &ndash; Change of institution/course 53 &ndash; Short cycle diploma holders 57 &ndash; Change of institution/course (International)|
|Application order|Feature|Discrete|int|Application order <br> between 0 - first choice; and 9 last choice|
|Course|Feature|Discrete|int |33 - Biofuel Production Technologies 171 - Animation and Multimedia Design 8014 - Social Service (evening attendance) 9003 - Agronomy 9070 - Communication Design 9085 - Veterinary Nursing 9119 - Informatics Engineering 9130 - Equinculture 9147 - Management 9238 - Social Service 9254 - Tourism 9500 - Nursing 9556 - Oral Hygiene 9670 - Advertising and Marketing Management 9773 - Journalism and Communication 9853 - Basic Education 9991 - Management (evening attendance)|	
|Daytime/evening attendance|Feature|Discrete|int|1 &mdash; daytime 0 &mdash; evening|
|Previous qualification|Feature|Discrete|int|1  &ndash; Secondary education 2  &ndash; Higher education - bachelor's degree 3  &ndash; Higher education - degree 4  &ndash; Higher education - master's    <br> 5&ndash; Higher education - doctorate   6  &ndash; Frequency of higher education 9 - 12th year of schooling - not completed 10 - 11th year of schooling - not completed 12  &ndash; Other  &ndash; 11th year of schooling  14  &ndash; 10th year of schooling 15  &ndash; 10th year of schooling - not completed 19 - Basic education 3rd cycle (9th/10th/11th year) or equiv. 38  &ndash; Basic education 2nd cycle (6th/7th/8th year) or equiv. <br>39  &ndash; Technological specialization course 40  &ndash; Higher education - degree (1st cycle) 42  &ndash; Professional higher technical course<br> 43  &ndash; Higher education - master (2nd cycle)|
|Previous qualification (grade)|Feature|Continuous|float|Grade of previous qualification <br> between 0 and 200|
|Nacionality|Feature|Discrete||1 &mdash; Portuguese; 2 &mdash; German; 6 &mdash; Spanish; 11 &mdash; Italian; 13 &mdash; Dutch; 14 &mdash; English; 17 &mdash; Lithuanian; 21 &mdash; Angolan; <br>22 &mdash; Cape Verdean; 24 &mdash; Guinean; 25 &mdash; Mozambican; 26 &mdash; Santomean; 32 &mdash; Turkish; 41 &mdash; Brazilian; 62 &mdash; Romanian; <br> 100 &mdash; Moldova (Republic of); 101 &mdash; Mexican; 103 &mdash; Ukrainian; 105 &mdash; Russian; 108 &mdash; Cuban; 109 &mdash; Colombian|
|Mother's qualification|Feature|Discrete|int|Admission grade (between 0 and 200)|
|Father's qualification|Feature|Discrete|int|1 &mdash; yes 0 &mdash; no|
|Mother's occupation|Feature|Discrete|int||
|Father's occupation|Feature|Discrete|int||
|Admission grade|Feature|Continuous|float||
|Displaced|Feature|Discrete|int|Discrete|
|Educational special needs|Feature|Discrete|int||
|Debtor|Feature|Discrete|int||
|Tuition fees up to date|Feature|Discrete|int||
|Gender|Feature|Discrete|int||
|Scholarship holder|Feature|Discrete|int||
|Age at enrollment|Feature|Discrete|int||
|International|Feature|Discrete|int||
|Curricular units 1st sem (credited)|Feature|Discrete|int||
|Curricular units 1st sem (enrolled)|Feature|Discrete|int||
|Curricular units 1st sem (evaluations)|Feature|Discrete|int||
|Curricular units 1st sem (approved)|Feature|Discrete|int||
|Curricular units 1st sem (grade)|Feature|Discrete|float||
|Curricular units 1st sem (without evaluations)|Feature|Discrete|int||
|Curricular units 2nd sem (credited)|Feature|Discrete|int||
|Curricular units 2nd sem (enrolled)|Feature|Discrete|int||
|Curricular units 2nd sem (evaluations)|Feature|Discrete|int||
|Curricular units 2nd sem (approved)|Feature|Discrete|int||
|Curricular units 2nd sem (grade)|Feature|Discrete|float||
|Curricular units 2nd sem (without evaluations)|Feature|Discrete|int||
|Unemployment rate|Feature|Continuous|float||
|Inflation rate|Feature|Continuous|float||
|GDP|Feature|Continuous|float||
|Target|Target|Categorical|string||

### Import libraries and Visualization Packages
Importing libraries at the beginning allows access to modules and other tools throughout this project that help to make the tasks within this project manageable to implement. The main libraries that will be used within this project include:

* <code>pandas</code>: a data analysis and manipulation library which allows for flexible reading, writing, and reshaping of data
* <code>numpy</code>: a key library that brings the computationaly power of languages like C to Python
* <code>matplotlib</code>: a comprehensive visualization library
* <code>seaborn</code>: a data visualization library based on matplotlib
* <code>stasmodels</code>:
* <code>selenium</code>:a library used to perform web testing tasks, useful for scraping data 
* <code>geopy</code>: a library that converts addresses in to geographical locations and vice versa
* <code>requests</code>: a library that make HTTP requests and interacts with web services

In [1]:
# Import libraries and visualization packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import statsmodels.api as sm
import geopandas as gpd
import plotly.express as px
from selenium import webdriver
from selenium.common.exceptions import WebDriverException
from geopy.distance import geodesic
import requests
import json
import warnings
warnings.simplefilter(action ='ignore', category = DeprecationWarning)
warnings.simplefilter(action ='ignore', category = FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning, module="pandas")

# Allow plots to display and be stored inline within a notebook
%matplotlib inline

# Used for working with the z-score 
from scipy import stats

# Used for working with long url
from urllib.parse import urlencode

# Set display option to readable format
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Filter warnings from pandas
pd.options.mode.chained_assignment = None

In [2]:
# Class: DataExploration
# This class provides methods for exploring and analyzing a dataset.
class DataExploration:
    def __init__(self, data_path):
            """
            Constructor for the DataExploration class.
            
            Parameter:
            - data_path(str): Path to the dataset file (provides the class with the information 
                              needed to locate and load the dataset.
            
            Initializes the data_path attribute and sets data to None (shows no data has been loaded yet).
            """
            
        self.data_path = data_path
        self.data = None
    
    
    def load_data(self):
        """
        Loads the dataset from the data_path we specified using pandas.
        Assumes the dataset is in CSV format with semicolons(;) as the separator.
        Assigns the loaded data to the data attribute.
        """
        self.data = pd.read_csv(self.data_path, sep = ';')

    def examine_structure(self):
        """
        Prints the data structure and displays the first few rows of the dataset.
        Also displays the data information including the number of rows, columns, and datatypes.
        """
        
        print("Data Structure: ")
        display(self.data.head())
        print("\nData Information:")
        display(self.data.info())
        
    def check_missing_values(self):
        """
        Checks and displays the number of missing values in each column of the dataset.
        """
        print("\nMissing Values: ")
        display(self.data.isnull().sum())

## Data Preparation

In [3]:
# Main excution

if __name__ == '__main__':
    # Initialize the DataExploration object
    data_exploration = DataExploration('data/data.csv')
    
    # Load the data
    data_exploration.load_data()
    
    # Examine data
    data_exploration.examine_structure()
    data_exploration.check_missing_values()

Data Structure:

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.00,1,19,12,...,0,0,0,0,0.00,0,10.80,1.40,1.74,Dropout
1,1,15,1,9254,1,1,160.00,1,1,3,...,0,6,6,6,13.67,0,13.90,-0.30,0.79,Graduate
2,1,1,5,9070,1,1,122.00,1,37,37,...,0,6,0,0,0.00,0,10.80,1.40,1.74,Dropout
3,1,17,2,9773,1,1,122.00,1,38,37,...,0,6,10,5,12.40,0,9.40,-0.80,-3.12,Graduate
4,2,39,1,8014,0,1,100.00,1,37,38,...,0,6,6,6,13.00,0,13.90,-0.30,0.79,Graduate

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

None

Missing Values:

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

## Modeling

## Evaluation

## Recommendations